<ul>
  <% if user_signed_in? %>

    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Email signed in : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Secret page", static_page_secret_path %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>
  <h1>Welcome to the Event Project ! The networking website specialized in events</h1>

<h2>Registered events</h2>

<div class="row">
<% @event.each do |event| %>
  <div class="col-md-4">

    <div class="card-deck mb-3 text-center">

      <div class="card card-accent-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Event
          <%=event.id %></div>
        <div class="card-body">
          <p>
            Administrator : 
            <%= event.user.first_name %>
            <%= %>
            <br/>
            Event title :
            <%= event.title %>
            <br/>
          </p>
          <button type="button" class="btn btn-pill btn-secondary">
            <a href="<%= event_path(event.id) %>">Read more</a>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

</div>
  <% else %>
  <h1>Welcome to the Event Project ! The networking website specialized in events</h1>

<h2>Registered events</h2>
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>