<h1><%= @event.title%></h1>
<p>Description: <%= @event.description %></p></br>
<p>Start date: <%= @event.start_date %></p>
<p>Location: <%= @event.location %></p>
<p>Duration: <%= @event.duration %> minutes</p>
<p>Price: <%= @event.price %> USD</p></br>

<button type="button" class="btn btn-primary">
            <a href="<%= new_charge_path(@event.id) %>">Read more</a>
