<h1>Event n°<%= @event.id %></h1>
<h2>Title: <%= @event.title%></h2>
<p>Description: <%= @event.description %></p></br>
<p>Start date: <%= @event.start_date %></p>
<p>Location: <%= @event.location %></p></br>
<p>Duration: <%= @event.duration %> minutes</p>
<p>Price: <%= @event.price %> USD</p></br>
